{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "../../partials/layout.njk" %}

{% block personBanner %}
  {% include "../_personBanner.njk" %}
{% endblock personBanner %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
{% endblock backLink %}

{% block content %}
  {% set otherCourseHtml %}
  {{ govukInput({
    id: "otherCourseName",
    name: "otherCourseName",
    type: "text",
    classes: "govuk-!-width-one-third",
    label: {
      text: "Enter the programme"
    }
  }) }}
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="#" method="post">
        {{ govukRadios({
          name: "courseId",
          fieldset: {
            legend: {
              text: pageHeading,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select the programme"
          },
          items: courseRadioOptions.concat({
            value: "other",
            text: "Other",
            conditional: {
              html: otherCourseHtml
            }
          })
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock content %}
