{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% macro keylessSummaryCard(title, actionItems = [], bodyText = undefined, bodyHtml = undefined, testid = '') %}
  {{ govukSummaryList({
    card: {
      title: {
        text: title
      },
      actions: {
        items: actionItems
      },
      attributes: {
        "data-testid": testid
      }
    },
    rows: [{
      key: { text: "", classes: "govuk-visually-hidden" },
      value: { text: bodyText, html: bodyHtml, classes: "govuk-!-width-full" }
    }]
  }) }}
{% endmacro %}
