{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% extends "govuk/template.njk" %}

{% block pageTitle %}
  {{pageTitle | default(applicationName)}}
{% endblock pageTitle %}

{% block head %}
  <!--[if !IE 8]><!-->
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>
  <!--<![endif]-->

  <!--[if lt IE 9]>
  <link href="/assets/stylesheets/application-ie8.css?{{ version }}" rel="stylesheet"/>
  <script src="/assets/js/html5shiv-3.7.3.min.js"></script>
  <![endif]-->

  <script src="/assets/js/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
          integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
          nonce="{{ cspNonce }}"
          crossorigin="anonymous"></script>
  <link href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" nonce="{{ cspNonce }}" crossorigin>

{% endblock head %}

{% block bodyStart %}{% endblock bodyStart %}

{% block header %}
  {% include "./header.njk" %}
{% endblock header %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="https://forms.office.com/Pages/ResponsePage.aspx?id=KEeHxuZx_kGp4S6MNndq2E8JCpI91GZDsQ5Hyq26MrZUQVQ5VFBIU0tKMUlZTDhLNUpZR01CQ0U5Uy4u">feedback</a> will help us to improve it.'
  }) }}
{% endblock beforeContent %}

{% block bodyEnd %}
  {# Run JavaScript at end of the
  <body>, to avoid blocking the initial render. #}
  <script src="/assets/govuk/all.js"></script>
  <script src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
  <script src="/assets/clickableDashboardCards.js"></script>
  {% block extraScripts %}
    <script type="text/javascript" nonce="{{ cspNonce }}">
      window
        .MOJFrontend
        .initAll()
    </script>
  {% endblock extraScripts %}
{% endblock bodyEnd %}
