{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation %}

{% extends "govuk/template.njk" %}

{% if customPageTitleEnd %}
  {% set pageTitleEnd = " - " + customPageTitleEnd %}
{% elif pageHeading %}
  {% set pageTitleEnd = " - " + pageHeading %}
{% endif %}

{% block pageTitle %}
  HMPPS {{ applicationName }}{{ pageTitleEnd }}
{% endblock pageTitle %}

{% block head %}
  <script src="/assets/js/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
          integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
          nonce="{{ cspNonce }}"
          crossorigin="anonymous"></script>
  <link href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet" nonce="{{ cspNonce }}" crossorigin>
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>

  {% if enableApplicationInsights %}
    {% include "./applicationInsightsScript.njk" %}
  {% endif %}

  {% if feComponents.jsIncludes %}
    {% for js in feComponents.jsIncludes %}
      <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
    {% endfor %}
  {% endif %}

  {% if feComponents.cssIncludes %}
    {% for css in feComponents.cssIncludes %}
      <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet"/>
    {% endfor %}
  {% endif %}
{% endblock head %}

{% block bodyStart %}{% endblock bodyStart %}

{% block header %}
  {% if feComponents.header %}
    {{ feComponents.header | safe }}
  {% else %}
    {% include "./header.njk" %}
  {% endif %}
{% endblock header %}

{% if not mainClasses %}
  {% set mainClasses = "app-container govuk-body" %}
{% endif %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="' + feedbackUrl + '">feedback</a> will help us to improve it.'
  }) }}

  {% block primaryNavigation %}
    {% set primaryNavigationItems = [
      {
        text: 'List of programmes',
        href: findPaths.index({}),
        active: currentPath === (findPaths.index({}))
      }
    ] %}

    {% for role in user.roles %}
      {% if role === 'ROLE_ACP_REFERRER' %}
        {% set primaryNavigationItems = primaryNavigationItems.concat([
          {
            text: 'My referrals',
            href: referPaths
              .caseList
              .index({}),
            active: isMyReferralsPage
          }
        ]) %}
      {% endif %}
    {% endfor %}

    {{ mojPrimaryNavigation({
      label: 'Primary navigation',
      items: primaryNavigationItems
    }) }}
  {% endblock primaryNavigation %}

  {% block personBanner %}{% endblock personBanner %}

  {% block backLink %}{% endblock backLink %}
{% endblock beforeContent %}

{% block footer %}
  {% if feComponents.footer %}
    {{ feComponents.footer | safe }}
  {% else %}
    {% include "./footer.njk" %}
  {% endif %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the
  <body>, to avoid blocking the initial render. #}
  <script type="module" src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
  <script src="/assets/mojFrontendInit.js"></script>
  <script src="/assets/clickableDashboardCards.js"></script>
{% endblock bodyEnd %}
