<div class="pathway-content {{ pathwayContent.class }}" data-testid="{{ pathwayContent.dataTestId }}">
  <h4 class="pathway-content__heading">{{ pathwayContent.headingText }}</h4>
  <p class="pathway-content__text">{{ pathwayContent.bodyText }}</p>
</div>
