{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "moj/components/side-navigation/macro.njk" import mojSideNavigation %}

{% extends "../../../../partials/layout.njk" %}

{% block personBanner %}
  {% include "../../../_personBanner.njk" %}
{% endblock personBanner %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back to referrals",
    href: "#"
  }) }}
{% endblock backLink %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

      <h2 class="govuk-heading-m">Risks and needs</h2>

      <p>Relevant sections from OASys to support the referral. The full Layer 3 assessment is available in OASys. Information is accurate at the time of the referral being submitted.</p>
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      {{ mojSideNavigation({
        label: 'Side navigation',
        items: navigationItems
      }) }}
    </div>

    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">
      {% block risksAndNeedsContent %}{% endblock risksAndNeedsContent %}
    </div>
  </div>
{% endblock content %}
