{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% extends "../../../partials/layout.njk" %}

{% block personBanner %}
  {% include "../../_personBanner.njk" %}
{% endblock personBanner %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: referPaths.new.show({ referralId: referral.id })
  }) }}
{% endblock backLink %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors.list.length %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors.list
        }) }}
      {% endif %}
    </div>
  </div>

  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body" data-testid="instructions-paragraph">You must provide additional information you feel will help the programme team in their assessment. This might include:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>The reason for the referral</li>
        <li>The person's motivation to complete a programme</li>
        <li>Information to support an override</li>
      </ul>

      {{ govukWarningText({
        text: "This service will provide the relevant sections from OASys that the programme team needs to assess this referral. The programme team may also need to access the full OASys Layer 3.",
        iconFallbackText: "Warning"
      }) }}

      <form action="{{ referPaths.new.additionalInformation.update({ referralId: referral.id }) }}?_method=PUT" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{ govukCharacterCount({
          id: "additionalInformation",
          name: "additionalInformation",
          maxlength: maxLength,
          label: {
            text: "Provide additional information",
            classes: "govuk-fieldset__legend--s"
          },
          attributes: {
            "data-testid": "additional-information-text-area"
          },
          value: formValues.formattedAdditionalInformation or referral.additionalInformation,
          errorMessage: errors.messages.additionalInformation
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock content %}
