{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% extends "../../../partials/layout.njk" %}

{% block personBanner %}
  {% include "../../_personBanner.njk" %}
{% endblock personBanner %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: referPaths.new.show({ referralId: referral.id })
  }) }}
{% endblock backLink %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors.list.length %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors.list
        }) }}
      {% endif %}
    </div>
  </div>

  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  <p>Add extra information to help the programme team assess this referral.</p>
</br>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="{{ referPaths.new.additionalInformation.update({ referralId: referral.id }) }}?_method=PUT" method="post">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

      {% if isOverride %}
        <h2 class="govuk-heading-m">Reason why the referral is not to a recommended programme</h2>

        <p class="govuk-body" data-testid="override-instructions-paragraph-one">This referral does not match the recommendation based on the risk and programme needs identifier (PNI) scores.</p>
        <p class="govuk-body" data-testid="override-instructions-paragraph-two">You can make a referral anyway and the treatment manager will decide whether an override is appropriate. You must give a reason.</p>

        {{ govukCharacterCount({
          id: "referrerOverrideReason",
          name: "referrerOverrideReason",
          maxlength: maxLength,
          attributes: {
            "data-testid": "referrer-override-reason-text-area"
          },
          label: {
            text: "Reason for override",
            classes: "govuk-visually-hidden"
          },
          value: formValues.formattedReferrerOverrideReason or referral.referrerOverrideReason,
          errorMessage: errors.messages.referrerOverrideReason
        }) }}
      {% endif %}

      <h2 class="govuk-heading-m">Additional information</h2>

      <p class="govuk-body" data-testid="add-info-instructions-paragraph-one">Relevant scores and information from OASys will automatically be pulled through to the referral.</p>
      <p class="govuk-body" data-testid="add-info-instructions-paragraph-two">Give any other information relevant to the referral, such as:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the reason for the referral</li>
        <li>the person's motivation to complete a programme</li>
      </ul>

      {{ govukCharacterCount({
          id: "additionalInformation",
          name: "additionalInformation",
          maxlength: maxLength,
          attributes: {
            "data-testid": "additional-information-text-area"
          },
          label: {
            text: "Additional Information",
            classes: "govuk-visually-hidden"
          },
          value: formValues.formattedAdditionalInformation or referral.additionalInformation,
          errorMessage: errors.messages.additionalInformation
        }) }}
      <div class="govuk-button-group">
        {{ govukButton({
          attributes: {
            'data-testid': 'additional-information-submit-button'
          },
          text: "Continue"
        }) }}
        {% if isOverride === false %}
          {{ govukButton({
          attributes: {
            'data-testid': 'additional-information-skip-button'
          },
          classes: "govuk-button--secondary",
          text: "Skip this section",
          name: "skip",
          value: "true"
        }) }}
        {% endif %}
      </form>
    </div>
  </div>
</div>
{% endblock content %}
