{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% from "../../partials/keylessSummaryCard.njk" import keylessSummaryCard %}

{% extends "./partials/referralLayout.njk" %}

{% block primaryContent %}
  {{ govukInsetText({
    classes: "govuk-!-margin-top-0",
    text: submittedText,
    attributes: {
      "data-testid": "submitted-text"
    }
  }) }}

  {{ keylessSummaryCard("Additional information", bodyText=referral.additionalInformation, testId="additional-information-summary-card") }}
{% endblock primaryContent %}
