{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% extends "../../partials/layout.njk" %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: hrefs.back
  }) }}
{% endblock backLink %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

      <p data-testid="referral-exists-text">{{ summaryText }}</p>

      <h2 class="govuk-heading-m">Duplicate referral summary</h2>

      {{ govukSummaryList({
        classes: 'govuk-summary-list--no-border',
        rows: courseOfferingSummaryListRows,
        attributes: {
          "data-testid": "course-offering-summary-list"
        }
      }) }}

      {{ govukSummaryList({
        classes: 'govuk-summary-list--no-border govuk-!-margin-bottom-6',
        rows: submissionSummaryListRows,
        attributes: {
          "data-testid": "submission-summary-list"
        }
      }) }}

      {{ govukWarningText({
        text: "You cannot create this referral while a duplicate referral is open.",
        iconFallbackText: "Warning"
      }) }}

      {% if hrefs.withdraw and withdrawButtonText %}
        <div class="govuk-button-group">
          {{ govukButton({
            text: withdrawButtonText,
            href: hrefs.withdraw,
            attributes: {
              "data-testid": "withdraw-original-referral-link"
            }
          }) }}

          {{ govukButton({
            text: "Cancel",
            href: hrefs.back,
            classes: "govuk-button--secondary",
            attributes: {
              "data-testid": "cancel-link"
            }
          }) }}
        </div>
      {% else %}
        {{ govukButton({
          text: "Return to programme list",
          href: hrefs.programmes,
          attributes: {
            "data-testid": "programme-list-link"
          }
        }) }}
      {% endif %}
    </div>
  </div>
{% endblock content %}
