{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "./partials/referralLayout.njk" %}

{% block primaryContent %}
  {{ govukInsetText({
    classes: "govuk-!-margin-top-0",
    text: importedFromText,
    attributes: {
      "data-testid": "imported-from-text"
    }
  }) }}

  {{ govukSummaryList({
    card: {
      title: {
        text: "Personal details"
      },
      attributes: {
        "data-testid": "personal-details-summary-card"
      }
    },
    rows: personSummaryListRows
  }) }}
{% endblock primaryContent %}
