{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% from "../../partials/keylessSummaryCard.njk" import keylessSummaryCard %}

{% extends "./partials/referralLayout.njk" %}

{% block primaryContent %}
  {% if courseParticipationSummaryListsOptions.length %}
    {% for summaryListOptions in courseParticipationSummaryListsOptions %}
      {{ govukSummaryList(summaryListOptions) }}
    {% endfor %}
  {% else %}
    {% set bodyText = "There is no Accredited Programme history for " + person.name + "." %}
    {{ keylessSummaryCard("Accredited Programme history", bodyText=bodyText, testId="no-programme-history-summary-card") }}
  {% endif %}
{% endblock primaryContent %}
