{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% from "../../partials/keylessSummaryCard.njk" import keylessSummaryCard %}

{% extends "./partials/layout.njk" %}

{% block submittedReferralContent %}
  {{ govukInsetText({
    classes: "govuk-!-margin-top-0",
    text: importedFromText,
    attributes: {
      "data-testid": "imported-from-text"
    }
  }) }}

  {% if hasSentenceDetails %}
    {{ govukSummaryList({
      card: {
        title: {
          text: "Sentence details"
        },
        attributes: {
          "data-testid": "sentence-details-summary-card"
        }
      },
      rows: detailsSummaryListRows
    }) }}
  {% else %}
    {{ keylessSummaryCard("Sentence details", bodyText="There are no sentence details for this person.", testId="no-sentence-information-summary-card") }}
  {% endif %}

  {% if hasReleaseDates %}
    {{ govukSummaryList({
      card: {
        title: {
          text: "Release dates"
        },
        attributes: {
          "data-testid": "release-dates-summary-card"
        }
      },
      rows: releaseDatesSummaryListRows
    }) }}
  {% else %}
    {{ keylessSummaryCard("Release dates", bodyText="There are no release dates for this person.", testId="no-release-dates-summary-card") }}
  {% endif %}
{% endblock submittedReferralContent %}
