{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% from "../partials/courseSummary.njk" import courseSummary %}

{% extends "../partials/layout.njk" %}

{% set overrideDetailsHtml %}
<p data-testid="override-text">If you think the person needs a programme not listed here, you can see non-recommended programmes and request an override. You will need to give a reason for this before you submit the referral.</p>

{{ govukButton({
  text: overrideButtonText,
  href: '?override=true',
  classes: "govuk-button--secondary",
  attributes: {
    "data-testid": "override-button"
  }
}) }}
{% endset %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: hrefs.back
  }) }}
{% endblock backLink %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-!-margin-bottom-6">
        <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

        {% if warningText %}
          {{ govukWarningText({
            text: warningText,
            iconFallbackText: "Warning"
          }) }}
        {% endif %}

        {% for text in decisionText %}
          <p class="govuk-body">{{ text }}</p>
        {% endfor %}

        {% if canBeOverridden %}
          {% if isOverride %}
            {{ govukButton({
              attributes: {
                "data-testid": "recommended-programmes-button"
              },
              text: "See recommended programmes",
              href: hrefs.self,
              classes: "govuk-button--secondary govuk-!-margin-bottom-3"
            }) }}
          {% else %}
            {{ govukDetails({
              attributes: {
                "data-testid": "override-details"
              },
              summaryText: "I need to refer to a different programme",
              html: overrideDetailsHtml
            }) }}
          {% endif %}
        {% endif %}

      </div>

      <div role="list">
        {% for course in courses %}
          {% set isLastInList = loop.index >= courses.length %}
          {{ courseSummary(course, isLastInList) }}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock content %}
