{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "../partials/layout.njk" %}

{% block content %}
  {{ super() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{ govukRadios({
          name: "categoryCode",
          fieldset: {
            legend: {
              text: "Select the withdrawal category",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: radioItems,
          errorMessage: errors.messages.categoryCode,
          attributes: {
            "data-testid": "withdraw-category-options"
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
