{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% extends "../partials/layout.njk" %}

{% block statusContent %}
  <p>{{ confirmationText.primaryDescription }}</p>
{% endblock statusContent %}

{% block statusAction %}
  <form action="{{ action }}" method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

    <h2 class="govuk-heading-m">{{ confirmationText.secondaryHeading }}</h2>

    {% if confirmationText.hasConfirmation %}
      {{ govukCheckboxes({
        name: "confirmation",
        items: [
          {
            value: "true",
            text: confirmationText.secondaryDescription
          }
        ],
        errorMessage: errors.messages.confirmation
      }) }}
    {% else %}
      <p>{{ confirmationText.secondaryDescription }}</p>

      {{ govukCharacterCount({
        id: "reason",
        name: "reason",
        maxlength: maxLength,
        label: {
          text: "Add reason",
          classes: 'govuk-fieldset__legend--s'
        },
        value: formValues.reason,
        classes: "govuk-!-width-three-quarters",
        errorMessage: errors.messages.reason
      }) }}
    {% endif %}

    {% if confirmationText.warningText %}
      {{ govukWarningText({
        text: confirmationText.warningText,
        iconFallbackText: "Warning"
      }) }}
    {% endif %}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Submit"
      }) }}

      <a class="govuk-link" href={{ backLinkHref }}>Cancel</a>
    </div>
  </form>
{% endblock statusAction %}
