{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "moj/components/timeline/macro.njk" import mojTimeline %}

{% extends "../../../partials/layout.njk" %}

{% set formattedDescription = referralStatusRefData.description | lower %}

{% block backLink %}
  {{ govukBackLink({
    classes: "js-back-link",
    text: "Back",
    href: backLinkHref
  }) }}
{% endblock backLink %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors.list | length %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors.list
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

      <p>Submitting this will change the status to {{ formattedDescription }}.</p>

      <h2 class="govuk-heading-m">Current status</h2>

      {{ mojTimeline({
        items: timelineItems,
        attributes: {
          "data-testid": "status-history-timeline"
        },
        classes: "govuk-!-margin-bottom-0"
      }) }}
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ action }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {% if referralStatusRefData.hasConfirmation %}
          <h2 class="govuk-heading-m">Confirm status change</h2>

          {{ govukCheckboxes({
            name: "confirmation",
            items: [
              {
                value: "true",
                text: referralStatusRefData.confirmationText
              }
            ],
            errorMessage: errors.messages.confirmation
          }) }}
        {% else %}
          <h2 class="govuk-heading-m">Give a reason</h2>

          <p>You must give a reason why this referral is being moved to {{ formattedDescription }}.</p>

          {{ govukCharacterCount({
            id: "reason",
            name: "reason",
            maxlength: maxLength,
            label: {
              text: "Add reason"
            },
            value: formValues.reason,
            classes: "govuk-!-width-three-quarters",
            errorMessage: errors.messages.reason
          }) }}
        {% endif %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Submit"
          }) }}

          <a href={{ backLinkHref }}>Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
