{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set html %}
  <h3 class="govuk-notification-banner__heading">Rolling out the referral service</h3>
  <p class="govuk-body">This is a new service. While we're rolling it out, referrers can only use it to refer people to Accredited Programmes at a few prisons. At the moment, you can refer to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Onley</li>
    <li>Stocken</li>
    <li>Whatton</li>
  </ul>
  <p class="govuk-body">You can still refer to other prisons using your usual process.</p>
{% endset %}

{{ govukNotificationBanner({
  html: html,
  classes: "govuk-!-margin-top-5 govuk-!-margin-bottom-0"
}) }}
