{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <h1>{{ pageHeading }}</h1>

  <a class="govuk-link" href="{{ findPath }}">Find an accredited programme</a>
{% endblock content %}
