$govuk-global-styles: true;
$path: '/assets/images/';

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import 'govuk/all';
@import 'moj/all';

@import './components/audience-tag';
@import './components/dashboard';
@import './components/header-bar';
@import './components/footer';
@import './components/navigation';
@import './components/person-banner';
@import './components/release-dates';
@import './components/risks-and-alerts';
@import './components/task-list';
@import './local';
