$govuk-global-styles: true;
$path: '/assets/images/';

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import 'govuk/all';
@import 'moj/all';

@import 'node_modules/@ministryofjustice/hmpps-connect-dps-components/dist/assets/footer';
@import 'node_modules/@ministryofjustice/hmpps-connect-dps-components/dist/assets/header-bar';

@import './components/api-error';
@import './components/audience-tag';
@import './components/dashboard';
@import './components/navigation';
@import './components/pathway-content';
@import './components/person-banner';
@import './components/release-dates';
@import './components/risks-and-alerts';
@import './components/task-list';
@import './components/ogrs4-risk/predictor-scale';
@import './components/ogrs4-risk/expanded-predictor-badge';
@import './components/ogrs4-risk/rosh-widget';
@import './components/ogrs4-risk/risk-flag-widget';
@import './local';
@import './overrides';
