.maintain-white-space {
  white-space: pre-wrap;
}

.secondary-navigation {
  display: flex;
  align-items: baseline;
  gap: govuk-spacing(3);

  .secondary-navigation__home-link {
    flex: 1;
    text-align: right;
    margin-top: govuk-spacing(3);
    margin-bottom: govuk-spacing(3);
  }
}

.table-scroll {
  overflow-x: auto;
}

.horizontal-filter {
  * {
    width: 100%;
  }

  :last-child {
    margin-bottom: 0;
  }

  .govuk-button {
    margin-top: govuk-spacing(3);
    margin-right: 0;
  }

  @include govuk-media-query($from: desktop) {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    row-gap: govuk-spacing(3);

    * {
      width: auto;
    }

    .govuk-select--restrict-width {
      max-width: 250px;
    }

    .govuk-button {
      margin-right: govuk-spacing(3);
      margin-bottom: $govuk-border-width-form-element;
    }

    .govuk-form-group {
      margin-bottom: 0;
      margin-right: govuk-spacing(3);
    }
  }
}

.header-with-actions {
  .govuk-button-group {
    align-items: flex-start;
    margin-bottom: govuk-spacing(3);

    .moj-button-menu__toggle-button {
      margin-bottom: 0;
    }
  }

  @include govuk-media-query($from: 1024px) {
    display: flex;
    gap: govuk-spacing(3);

    .header-with-actions__title {
      flex: 1;
    }
  }
}

[aria-sort] a {
  position: relative;
  padding-right: 10px;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;

  &:before {
    content: ' ▼';
    position: absolute;
    right: -1px;
    top: 9px;
    font-size: 0.5em;
  }

  &:after {
    content: ' ▲';
    position: absolute;
    right: -1px;
    top: 1px;
    font-size: 0.5em;
  }
}

[aria-sort='ascending'] a {
  &:before {
    content: none;
  }

  &:after {
    content: ' ▲';
    font-size: 0.8em;
    position: absolute;
    right: -5px;
    top: 2px;
  }
}

[aria-sort='descending'] a {
  &:before {
    content: none;
  }

  &:after {
    content: ' ▼';
    font-size: 0.8em;
    position: absolute;
    right: -5px;
    top: 2px;
  }
}
