.govuk-main-wrapper {
  min-height: 37.5rem;
}

.maintain-white-space {
  white-space: pre-wrap;
}

.filters {
  @include govuk-responsive-padding(3);
  @include govuk-responsive-margin(7, "bottom");

  background-color: govuk-colour("light-grey");

  .form-controls {
    * {
      width: 100%;
    }

    :last-child {
      margin-bottom: 0;
    }

    @include govuk-media-query($from: desktop) {
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;

      * {
        width: auto;
      }
  
      .govuk-button {
        margin-bottom: $govuk-border-width-form-element;
      }
  
      .govuk-form-group {
        margin-bottom: 0;
        margin-right: govuk-spacing(3);
      }
    }
  }
}
