.govuk-main-wrapper {
  min-height: 37.5rem;
}

.moj-timeline .govuk-tag {
  max-width: none;
}

.scroll-conditional-options .govuk-radios__conditional {
  max-height: 500px;
  overflow-y: auto;
}

.govuk-tag {
  color: govuk-colour('black') !important;
}

.govuk-button--secondary[aria-disabled='true'] {
  opacity: (0.5);

  &:hover {
    background-color: govuk-colour('light-grey');
    cursor: not-allowed;
  }
}

.no-border {
  border: none !important;
}

.risk-changed {
  color: #1d70b8;
}

.ogrs4-content {
  .risk-box,
  .expanded-predictor-badge__dynamic,
  .govuk-heading-m,
  .govuk-heading-s {
    margin-bottom: 30px;
  }
}
