.dashboard__main {
  display: flex;
  flex-direction: column;
}

.dashboard__cards-wrapper {
  margin-left: -21.8vw;
  margin-right: -21.8vw;
  padding: 30px 21.8vw;
  background: #f0f4f5;
  margin-bottom: -60px;
  flex: 1;

  @media (max-width: 40em) {
    margin-bottom: -35px;
  }
}

.dashboard__cards {
  display: flex;
  flex-wrap: wrap;
}

.dashboard__card-wrapper {
  display: flex;

  @media (max-width: 48.0525em) {
    flex: 0 0 100%;
  }
}

.dashboard__card {
  margin-bottom: 40px;
  background: #fff;
  border: 1px solid #d9dadb;
  border-bottom-width: 5px;
  position: relative;
  width: 100%;
  padding: 25px;

  &--linked {
    &:active {
      bottom: -1px;
    }

    &:hover {
      cursor: pointer;
    }

    &:active,
    &:hover {
      border-color: #b1b4b6;

      .dashboard__card-heading,
      .dashboard__card-link {
        color: #003078;
        text-decoration: none;

        &:focus {
          outline: 3px solid transparent;
          color: #0b0c0c;
          background-color: #fd0;
          box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
          text-decoration: none;
        }
      }
    }
  }

  @media (max-width: 48.0525em) {
    margin-bottom: 15px;
  }
}

.dashboard__card-heading {
  margin-bottom: 15px;
}

.dashboard__card-description {
  margin-bottom: 0;
}
