{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% extends "../partials/layout.njk" %}

{% block content %}
  {{ super() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Give a reason</h2>

      <p>Provide more information about the reason for withdrawing this referral.</p>

      <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{ govukCharacterCount({
          id: "reasonInformation",
          name: "reasonInformation",
          maxlength: maxLength,
          label: {
            text: "Add reason"
          },
          value: formValues.reasonInformation,
          classes: "govuk-!-width-three-quarters",
          errorMessage: errors.messages.reasonInformation
        }) }}

        {{ govukWarningText({
          text: "Submitting this will close the referral.",
          iconFallbackText: "Warning"
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Submit"
          }) }}

          <a href={{ cancelLink }}>Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
