{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% extends "../../../partials/layout.njk" %}

{% set customPageTitleEnd = "Confirm personal details" %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: referPaths.new.new({ courseOfferingId: courseOfferingId })
  }) }}
{% endblock backLink %}

{% block content %}
  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukSummaryList({ rows: personSummaryListRows, attributes: { "data-testid": "person-summary-list" } }) }}

      {{ govukWarningText({
        text: "If this information is out of date or incorrect, you must update the information in NOMIS.",
        iconFallbackText: "Warning"
      }) }}

      <form id="newReferralForm" action="{{ referPaths.new.create({}) }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
        <input type="hidden" name="courseOfferingId" value="{{ courseOfferingId }}"/>
        <input type="hidden" name="prisonNumber" value="{{ prisonNumber }}"/>
      </form>

      <div class="govuk-button-group">
        {{ govukButton({ 
          text: "Continue",
          attributes: {
            form: "newReferralForm"
          }
        }) }}
        <a href="{{ referPaths.new.new({ courseOfferingId: courseOfferingId }) }}" class="govuk-link">
          Enter a different identifier
        </a>
      </div>

      <p>This will save a draft referral.</p>
    </div>
  </div>

{% endblock content %}
