{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% from "./_audienceTags.njk" import audienceTags %}

{% macro indexCourseSummary(course) %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds" role="listitem">

      <h2 class="govuk-heading-m">
        <a class="govuk-link" href="/programmes/{{ course.id }}">{{ course.name }}</a>
      </h2>

      {{ audienceTags(course.audienceTags) }}

      <p class="govuk-body">{{ course.description }}</p>

      {{ govukSummaryList({
        classes: 'govuk-summary-list--no-border',
        rows: course.prerequisiteSummaryListRows
      }) }}
    </div>
  </div>
{% endmacro %}
