{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% from "../partials/audienceTag.njk" import audienceTag %}

{% macro indexCourseSummary(course, isLastInList) %}
  <div class="govuk-grid-row" role="listitem">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">
        <a class="govuk-link" href="{{ course.href }}">{{ course.displayName }}</a>
      </h2>

      {{ audienceTag(course.audienceTag) }}

      <p class="govuk-body">{{ course.description }}</p>

      {{ govukSummaryList({
        classes: 'govuk-summary-list--no-border',
        rows: course.prerequisiteSummaryListRows
      }) }}
    </div>

    {% if not isLastInList %}
      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">
      </div>
    {% endif %}
  </div>
{% endmacro %}
