{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro locationsTable(params) %}
    {{ govukTable({
      attributes: {
        "data-module": "moj-sortable-table"
      },
      head: [
        {
          text: "Prison",
          attributes: {
            "aria-sort": "ascending"
          }
        },
        {
          text: "Category",
          attributes: {
            "aria-sort": "none"
          }
        },
        {
          text: "County",
          attributes: {
            "aria-sort": "none"
          }
        }
      ],
      rows: params.locations
    }) }}
{% endmacro %}
