{% from "./_courseSummary.njk" import courseSummary %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <h1>{{ pageHeading }}</h1>

  <div role="list">
    {% for courseListItem in courseListItems %}
      {{ courseSummary(courseListItem) }}

      {% if loop.index < courseListItems.length %}
        <div class="govuk-grid-row">
          <hr class="govuk-section-break govuk-section-break--visible">
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock content %}
