{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% from "../partials/audienceTag.njk" import audienceTag %}

{% extends "../partials/layout.njk" %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: findPaths.index({})
  }) }}
{% endblock backLink %}

{% block content %}
  <div class="header-with-actions">
    <h1 class="header-with-actions__title govuk-heading-l">{{ pageHeading }}</h1>

    {% if 'ROLE_ACP_EDITOR' in user.roles %}
      {{ govukButton({
        text: "Update programme",
        href: updateProgrammePath,
        classes: "govuk-button--secondary",
        attributes: {
          "data-testid": "update-programme-link"
        }
      }) }}
    {% endif %}
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ audienceTag(course.audienceTag) }}

      <h2 class="govuk-heading-m">Programme criteria</h2>

      {{ govukSummaryList({
          classes: 'govuk-summary-list--no-border',
          rows: course.prerequisiteSummaryListRows
        }) }}

      <h2 class="govuk-heading-m">Programme description</h2>

      <p class="govuk-body" data-testid="description-paragraph">{{ course.description }}</p>

      <div class="header-with-actions">
        <h2 class="header-with-actions__title govuk-heading-m">Locations</h2>

        {% if 'ROLE_ACP_EDITOR' in user.roles %}
          {{ govukButton({
            text: "Add a new location",
            href: addOfferingPath,
            classes: "govuk-button--secondary",
            attributes: {
              "data-testid": "add-programme-offering-link"
            }
          }) }}
        {% endif %}
      </div>

      {% if organisationsTableData | length %}
        <p data-testid="offerings-text">Select a prison to contact the programme team or make a referral.</p>

        {% include "./_locationsTable.njk" %}
      {% else %}
        <p data-testid="no-offerings-text">To find out where {{ course.displayName }} is offered, speak to your Offender Management Unit (custody) or regional probation team (community).</p>
      {% endif %}
    </div>
  </div>
{% endblock content %}
