{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% from "../partials/audienceTag.njk" import audienceTag %}

{% extends "../partials/layout.njk" %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: findPaths.index({})
  }) }}
{% endblock backLink %}

{% block content %}
  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ audienceTag(course.audienceTag) }}

      <h2 class="govuk-heading-m">Programme criteria</h2>

      {{ govukSummaryList({
        classes: 'govuk-summary-list--no-border',
        rows: course.prerequisiteSummaryListRows
      }) }}

      <h2 class="govuk-heading-m">Programme description</h2>

      <p class="govuk-body" data-testid="description-paragraph">{{ course.description }}</p>

      <h2 class="govuk-heading-m">Locations</h2>

      {% if organisationsTableData | length %}
        <p data-testid="offerings-text">Select a prison to contact the programme team or make a referral. Online referrals are not yet available at all sites.</p>

        {% include "./_locationsTable.njk" %}
      {% else %}
        <p data-testid="no-offerings-text">To find out where {{ course.displayName }} is offered, speak to your Offender Management Unit (custody) or regional probation team (community).</p>
      {% endif %}
    </div>
  </div>
{% endblock content %}
