{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% extends "../../../partials/layout.njk" %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: backLinkHref
  }) }}
{% endblock backLink %}

{% block content %}
  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ action }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{ govukSelect({
          id: "location-organisation-id",
          name: "organisationId",
          label: {
            text: "Organisation"
          },
          items: organisationSelectItems,
            attributes: {
            "data-testid": "organisation-select"
          },
          errorMessage: errors.messages.organisationId,
          value: offering.organisationId
        }) }}

        {% if showBuildingChoicesOptions %}
          {{ govukCheckboxes({
              name: "buildingChoicesOptions",
              fieldset: {
                legend: {
                  text: "Variants",
                  isPageHeading: false,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              hint: {
                text: "Select all variants you wish to offer at the above location"
              },
              items: [
                {
                  value: "createGeneralOffenceStrand",
                  text: "General Offence"
                },
                {
                  value: "createSexualOffenceStrand",
                  text: "Sexual Offence"
                },
                {
                  value: "targetsWomensPrison",
                  text: "Is for a women's prison"
                }
              ]
            })
          }}
        {% endif %}

        {{ govukInput({
          label: {
            text: "Contact email"
          },
          id: "location-contact-email",
          name: "contactEmail",
          errorMessage: errors.messages.contactEmail,
          value: offering.contactEmail
        }) }}

        {{ govukInput({
          label: {
            text: "Secondary contact email"
          },
          id: "location-secondary-contact-email",
          name: "secondaryContactEmail",
          errorMessage: errors.messages.secondaryContactEmail,
          value: offering.secondaryContactEmail
        }) }}

        {{ govukRadios({
          name: "referable",
          fieldset: {
            legend: {
              text: "Referable"
            }
          },
          items: [
            {
              value: "true",
              text: "Yes",
              checked: offering.referable === true
            },
            {
              value: "false",
              text: "No",
              checked: offering.referable === false
            }
          ]
        }) }}

        {{ govukRadios({
          name: "withdrawn",
          fieldset: {
            legend: {
              text: "Withdrawn"
            }
          },
          items: [
            {
              value: "true",
              text: "Yes",
              checked: offering.withdrawn === true
            },
            {
              value: "false",
              text: "No",
              checked: offering.withdrawn === false
            }
          ]
        }) }}

        {{ govukButton({ text: "Submit" }) }}
      </form>
    </div>
  </div>
{% endblock content %}
