{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% extends "../../partials/layout.njk" %}

{% block personBanner %}
  {% include "../_personBanner.njk" %}
{% endblock personBanner %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: referPaths.show({ referralId: referral.id })
  }) }}
{% endblock backLink %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors.list.length %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors.list
        }) }}
      {% endif %}

      {% set hintHtml %}
      <p class="govuk-body">You can provide any additional information you feel will help the programme team in their assessment. This might include:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>The reason for the referral</li>
        <li>The person's motivation to complete a programme</li>
        <li>Their offence history and behaviour</li>
        <li>Information to support an override</li>
      </ul>
      {% endset %}

      <form action="{{ referPaths.additionalInformation.update({ referralId: referral.id }) }}?_method=PUT" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{ govukTextarea({
          name: "additionalInformation",
          id: "additionalInformation",
          label: {
            text: pageHeading,
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            html: hintHtml
          },
          value: referral.additionalInformation,
          attributes: {
            "data-testid": "additional-information-text-area"
          },
          errorMessage: errors.messages.additionalInformation
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock content %}
