{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% extends "./withNavigationLayout.njk" %}

{% block supportingContent %}
  <p class="govuk-!-margin-bottom-0" data-testid="risks-and-needs-oasys-message">Relevant information to support the referral, taken from the latest approved assessment in OASys. The full risk and need assessment is available in OASys.</p>
{% endblock supportingContent %}

{% block primaryContent %}
  {% if hasData and recentCompletedAssessmentDate %}
    {{ govukInsetText({
      classes: "govuk-!-margin-top-0",
      text: 'Assessment completed ' + recentCompletedAssessmentDate,
      attributes: {
        "data-testid": "last-assessment-date-text"
      }
    }) }}
  {% elseif oasysNomisErrorMessage %}
    {{ govukInsetText({
      classes: "govuk-!-margin-top-0",
      text: oasysNomisErrorMessage,
      attributes: {
        "data-testid": "oasys-nomis-error-text"
      }
    }) }}
  {% endif %}
{% endblock primaryContent %}
