{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% extends "./withNavigationLayout.njk" %}

{% block supportingContent %}
  <p class="govuk-!-margin-bottom-0" data-testid="risks-and-needs-oasys-message">Relevant sections from OASys to support the referral. The full Layer 3 assessment is available in OASys. Information is accurate at the time of the referral being submitted.</p>
{% endblock supportingContent %}

{% block primaryContent %}
  {% if hasData and recentCompletedAssessmentDate %}
    {{ govukInsetText({
      classes: "govuk-!-margin-top-0",
      text: 'Assessment completed ' + recentCompletedAssessmentDate,
      attributes: {
        "data-testid": "last-assessment-date-text"
      }
    }) }}
  {% elseif oasysNomisErrorMessage %}
    {{ govukInsetText({
      classes: "govuk-!-margin-top-0",
      text: oasysNomisErrorMessage,
      attributes: {
        "data-testid": "oasys-nomis-error-text"
      }
    }) }}
  {% endif %}
{% endblock primaryContent %}
