{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "moj/components/side-navigation/macro.njk" import mojSideNavigation %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}

{% extends "../../../partials/layout.njk" %}

{% block beforeContent %}
  {% if oasysNomisErrorMessage %}
    <div class="api-error-banner" data-testid="oasys-nomis-error-banner">
      <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">OASys or NOMIS data unavailable</p>
      <p>{{ oasysNomisErrorMessage }}</p>
    </div>
  {% endif %}

  {{ super() }}
{% endblock beforeContent %}

{% block personBanner %}
  {% include "../../_personBanner.njk" %}
{% endblock personBanner %}

{% block content %}
  <div class="header-with-actions">
    <h1 class="header-with-actions__title govuk-heading-l">{{ pageHeading }}</h1>

    {% if buttons | length %}
      <div class="govuk-button-group"  data-testid="show-referral-buttons">
        {% for button in buttons %}
          {{ govukButton({
            classes: button.classes,
            disabled: button.disabled,
            href: button.href,
            text: button.text
          }) }}
        {% endfor %}
      </div>
    {% endif %}
  </div>

  {{ mojSubNavigation({
    label: 'Sub navigation',
    items: subNavigationItems
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h2 class="govuk-heading-m" data-testid="show-referral-sub-heading">{{ pageSubHeading }}</h2>

      {% block supportingContent %}{% endblock supportingContent %}
    </div>
  </div>
{% endblock content %}
