{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% extends "../../../partials/layout.njk" %}

{% set assessmentInfoString = 'There is no completed and approved layer 3 assessment for ' + person.name + '.' %}

{% if recentCompletedAssessmentDate %}
  {% set assessmentInfoString = 'The latest approved layer 3 assessment for ' + person.name + ' was completed on <strong>' + recentCompletedAssessmentDate + '</strong>.' %}

  {% if hasOpenAssessment %}
    {% set assessmentInfoString = assessmentInfoString + ' A newer assessment exists, but is incomplete, so will not be shown in the referral.' %}
  {% endif %}
{% endif %}

{% block personBanner %}
  {% include "../../_personBanner.njk" %}
{% endblock personBanner %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: referPaths.new.show({ referralId: referral.id })
  }) }}
{% endblock backLink %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors.list.length %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors.list
        }) }}
      {% endif %}
    </div>
  </div>

  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">Scores and supporting information from the latest approved risks and needs assessment will be pulled into this referral. The programme team will use this to assess the referral.</p>

      <p class="govuk-body" data-testid="oasys-information-paragraph">
        {{ assessmentInfoString | safe }}
      </p>

      <p class="govuk-body">Before you submit the referral, check that:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>all layer 3 information is complete</li>
        <li>the information is up to date</li>
      </ul>

      <form action="{{ referPaths.new.confirmOasys.update({ referralId: referral.id }) }}?_method=PUT" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{ govukCheckboxes({
          name: "oasysConfirmed",
          items: [
            {
              value: "true",
              text: "I confirm that the OASys information is up to date.",
              checked: referral.oasysConfirmed
            }
          ],
          errorMessage: errors.messages.oasysConfirmed
        }) }}

        {{ govukButton({
          attributes: {
            'data-testid': 'oasys-confirmation-submit-button'
          },
          text: "Continue" 
        }) }}
      </form>
    </div>
  </div>
{% endblock content %}
