{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% extends "../../../partials/layout.njk" %}

{% block personBanner %}
  {% include "../../_personBanner.njk" %}
{% endblock personBanner %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: referPaths.new.show({ referralId: referral.id })
  }) }}
{% endblock backLink %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors.list.length %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors.list
        }) }}
      {% endif %}
    </div>
  </div>

  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body" data-testid="oasys-access-paragraph">The programme team will need to access the full OASys Layer 3 to assess this referral.</p>

      {{ govukWarningText({
        text: "You must confirm that the OASys information is accurate before submitting your application.",
        iconFallbackText: "Warning"
      }) }}

      <form action="{{ referPaths.new.confirmOasys.update({ referralId: referral.id }) }}?_method=PUT" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{ govukCheckboxes({
          name: "oasysConfirmed",
          items: [
            {
              value: "true",
              text: "I confirm that the OASys information is up to date.",
              checked: referral.oasysConfirmed
            }
          ],
          errorMessage: errors.messages.oasysConfirmed
        }) }}

        {{ govukButton({
          attributes: {
            'data-testid': 'oasys-confirmation-submit-button'
          },
          text: "Continue" 
        }) }}
      </form>
    </div>
  </div>
{% endblock content %}
