{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "moj/components/sub-navigation/macro.njk" import mojSubNavigation %}

{% extends "../../../partials/layout.njk" %}

{% block content %}
  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  {{ mojSubNavigation({
    label: 'Sub navigation',
    items: subNavigationItems
  }) }}

  {{ govukTable({
    attributes: {
      'data-module': 'moj-sortable-table'
    },
    head: [
      {
        text: "Name / Prison number",
        attributes: {
          "aria-sort": "none"
        }
      },
      {
        text: "Date referred",
        attributes: {
          "aria-sort": "none"
        }
      },
      {
        text: "Earliest release date",
        attributes: {
          "aria-sort": "none"
        }
      },
      {
        text: "Release date type",
        attributes: {
          "aria-sort": "none"
        }
      },
      {
        text: "Programme location",
        attributes: {
          "aria-sort": "none"
        }
      },
      {
        text: "Programme name",
        attributes: {
          "aria-sort": "none"
        }
      },
      {
        text: "Programme strand",
        attributes: {
          "aria-sort": "none"
        }
      },
      {
        text: finalColumnHeader,
        attributes: {
          "aria-sort": "none"
        }
      }
    ],
    rows: tableRows
  }) }}

  {{ govukPagination(pagination) }}
{% endblock content %}
