{{ govukSummaryList({
  card: {
    title: {
      text: "Kaizen"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Change"
        },
        {
          href: "#",
          text: "Remove"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        text: "Programme name"
      },
      value: {
        html: "Kaizen"
      }
    },
    {
      key: {
        text: "Setting"
      },
      value: {
        html: "Custody"
      }
    }
  ]
}) }}

{{ govukSummaryList({
  card: {
    title: {
      text: "New Me MOT"
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Change"
        },
        {
          href: "#",
          text: "Remove"
        }
      ]
    }
  },
  rows: [
    {
      key: {
        text: "Programme name"
      },
      value: {
        html: "New Me MOT"
      }
    },
    {
      key: {
        text: "Setting"
      },
      value: {
        html: "Custody"
      }
    }
  ]
}) }}
