{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "../partials/layout.njk" %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: referPaths.start({ courseId: courseId, courseOfferingId: courseOfferingId })
  }) }}
{% endblock backLink %}

{% block content %}
  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body">Enter the prison number. We'll import their details into your application.</p>

      <form action="{{ referPaths.people.find({ courseId: courseId, courseOfferingId: courseOfferingId }) }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{ govukInput({
          label: {
            text: "Enter identifier"
          },
          hint: {
            text: "For example, a prison number is DO16821"
          },
          id: "prisonNumber",
          name: "prisonNumber"
        }) }}

        {{ govukButton({ text: "Continue" }) }}
      </form>
    </div>
  </div>

{% endblock content %}
