{% extends "../partials/layout.njk" %}

{% block statusContent %}
  <p>{{ confirmationText.primaryDescription }}</p>
{% endblock statusContent %}

{% block statusAction %}
  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

    {{ govukRadios({
      name: "statusDecision",
      fieldset: {
        legend: {
          text: confirmationText.secondaryHeading,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: confirmationText.secondaryDescription
      },
      items: radioItems,
      errorMessage: errors.messages.statusDecision,
      attributes: {
        "data-testid": "status-decision-options"
      }
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue"
      }) }}

      <a class="govuk-link" href={{ backLinkHref }}>Cancel</a>
    </div>
  </form>
{% endblock statusAction %}
