{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% from "../../partials/audienceTags.njk" import audienceTags %}

{% extends "../../partials/layout.njk" %}

{% set customPageTitleEnd = course.nameAndAlternateName + ", " + organisation.name %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: paths.find.show({ courseId: course.id })
  }) }}
{% endblock backLink %}

{% block content %}
  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ audienceTags(course.audienceTags) }}

      <h2 class="govuk-heading-m">{{ organisation.name }}</h2>

      {{ govukSummaryList({
        classes: 'govuk-summary-list--no-border',
        rows: organisation.summaryListRows
      }) }}
    </div>
  </div>
{% endblock content %}
