{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% from "../../partials/audienceTag.njk" import audienceTag %}

{% extends "../../partials/layout.njk" %}

{% set customPageTitleEnd = course.displayName + ", " + organisation.name %}

{% block backLink %}
  {{ govukBackLink({
    classes: "js-back-link",
    text: "Back",
    href: findPaths.show({ courseId: course.id })
  }) }}
{% endblock backLink %}

{% block content %}
  <div class="header-with-actions">
    <h1 class="header-with-actions__title govuk-heading-l">{{ pageHeading }}</h1>

    {% if 'ROLE_ACP_EDITOR' in user.roles %}
      <form action="{{ deleteOfferingAction }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        <div class="govuk-button-group">
          {{ govukButton({
            type: "button",
            text: "Update",
            href: updateOfferingPath,
            classes: "govuk-button--secondary",
            attributes: {
            "data-testid": "update-programme-offering-link"
            }
          }) }}

          {{ govukButton({
            text: "Delete",
            classes: "govuk-button--warning",
            attributes: {
            "data-testid": "delete-programme-offering-button"
            }
          }) }}
        </div>
      </form>
    {% endif %}
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ audienceTag(course.audienceTag) }}

      <h2 class="govuk-heading-m">{{ organisation.name }}</h2>

      {{ govukSummaryList({
        classes: 'govuk-summary-list--no-border',
        rows: organisation.summaryListRows
      }) }}

      {% if referEnabled and user.hasReferrerRole and courseOffering.referable and courseOffering.organisationEnabled %}
        {{ govukButton({
            text: "Make a referral",
            href: referPaths.new.start({ courseOfferingId: courseOffering.id }),
            attributes: {
              "data-testid": "make-referral-link"
            }
        }) }}
      {% endif %}
    </div>
  </div>
{% endblock content %}
