{% from "moj/components/timeline/macro.njk" import mojTimeline %}

{% extends "../partials/rootLayout.njk" %}

{% block supportingContent %}
  {{ mojTimeline({
    items: timelineItems,
    attributes: {
      "data-testid": "status-history-timeline"
    }
  }) }}
{% endblock supportingContent %}
