{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% extends "../../../partials/layout.njk" %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: hrefs.back
  }) }}
{% endblock backLink %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1>{{ pageHeading }}</h1>

      <p class="govuk-body">To check eligibility for a referral to Healthy Sex Programme (HSP), give more details about {{ personName | makePossessive }} sexual offending.</p>

      <p class="govuk-body">Include:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>previous convictions as well as the index offence</li>
        <li>legal convictions</li>
        <li>formal documented offences established through court martial</li>
        <li>offences left to lie on file</li>
        <li>charges not pursued, but lying open (ie they have not been found 'not guilty')</li>
        <li>officially documented charges, but with reasons for not proceeding</li>
      </ul>

      <p class="govuk-body">Do not include unproved or overturned allegations.</p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Do any of these statements apply to their sexual offending?</h2>
      <p class="govuk-hint">Select all that apply.</p>

      <form method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {% for fieldset in checkboxFieldsets %}
          {{ govukCheckboxes({
              name: "sexualOffenceDetails",
              fieldset: {
                legend: {
                  text: fieldset.legend.text,
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: fieldset.checkboxes,        
              errorMessage: errors.messages.sexualOffenceDetails
            }) }}
        {% endfor %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          {{ govukButton({
            href: hrefs.programmeIndex,
            classes: "govuk-button--secondary",
            text: "Return to programme list"
          }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
