{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "moj/components/banner/macro.njk" import mojBanner %}

{% from "../../partials/keylessSummaryCard.njk" import keylessSummaryCard %}

{% extends "../../partials/layout.njk" %}

{% block personBanner %}
  {% include "../_personBanner.njk" %}
{% endblock personBanner %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: referPaths.new.show({ referralId: referralId })
  }) }}
{% endblock backLink %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors.list.length %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors.list
        }) }}
      {% endif %}
    </div>
  </div>

  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">Read through this page and check that the information provided for each answer is accurate. When you feel the application is complete, submit it.</p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m">Referral summary</h2>

      {{ govukSummaryList({
        classes: 'govuk-summary-list--no-border',
        rows: courseOfferingSummaryListRows,
        attributes: {
          "data-testid": "course-offering-summary-list"
        }
      }) }}

      {{ govukSummaryList({
        classes: 'govuk-summary-list--no-border',
        rows: referrerSummaryListRows,
        attributes: {
          "data-testid": "referrer-summary-list"
        }
      }) }}

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

      <h2 class="govuk-heading-m">Person being referred</h2>

      {{ govukSummaryList({
        card: {
          title: {
            headingLevel: 3,
            text: "Personal details"
          }
        },
        rows: personSummaryListRows,
        attributes: {
          "data-testid": "person-summary-list"
        }
      }) }}

      <section data-testid="programme-history">
        <h2 class="govuk-heading-m" id="programmeHistory">Accredited Programme history</h2>

        {% if successMessage %}
          {{ mojBanner({
            type: "success",
            text: successMessage,
            iconFallbackText: "Success",
            attributes: {
              "data-testid": "success-banner"
            }
          }) }}
        {% endif %}

        {% if participationSummaryListsOptions.length %}
          {% for summaryListOptions in participationSummaryListsOptions %}
            {{ govukSummaryList(summaryListOptions) }}
          {% endfor %}
        {% else %}
          <p class="govuk-body">There is no Accredited Programme history for {{ person.name }}.</p>
        {% endif %}
      </section>

      <h2 class="govuk-heading-m">OASys information</h2>

      {{ keylessSummaryCard(
        "Confirm OASys information",
        bodyText="I confirm that the information is up to date.",
        testId="oasys-confirmation-summary-card",
        headingLevel=3
      ) }}

      <h2 class="govuk-heading-m" id="additionalInformation">Additional information</h2>

      {{ keylessSummaryCard(
        "Add additional information",
        actionItems=[{
          html: 'Change<span class="govuk-visually-hidden"> additional information</span>',
          href: referPaths.new.additionalInformation.show({ referralId: referralId })
        }],
        bodyText=additionalInformation,
        testId="additional-information-summary-card",
        headingLevel=3
      ) }}

      <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-6">

      <form action="{{ referPaths.new.submit({ referralId: referralId }) }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{ govukCheckboxes({
          name: "confirmation",
          fieldset: {
            legend: {
              text: "Confirm this information is correct",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "true",
              text: "I confirm the information I have provided is complete, accurate and up to date."
            }
          ],
          errorMessage: errors.messages.confirmation
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Submit referral"
          }) }}

          {{ govukButton({
            text: "Return to tasklist",
            classes: "govuk-button--secondary",
            href: referPaths.new.show({ referralId: referralId })
          }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock content %}
