{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "moj/components/page-header-actions/macro.njk" import mojPageHeaderActions %}

{% from "./_taskListSection.njk" import taskListSection %}
{% from "../../partials/audienceTag.njk" import audienceTag %}

{% extends "../../partials/layout.njk" %}

{% block personBanner %}
  {% include "../_personBanner.njk" %}
{% endblock personBanner %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ mojPageHeaderActions({
        heading: {
          classes: "govuk-heading-l",
          text: pageHeading
        },
        items: [{
          attributes: { "data-testid": "draft-referral-delete-button" },
          classes: 'govuk-button--secondary',
          href: hrefs.delete,
          text: "Delete draft referral"
        }]
      }) }}

      <p class="govuk-!-margin-bottom-6">Changes you make will be saved. You can leave this page and return to it later in <a href="{{ hrefs.draftReferrals }}">Draft referrals</a>.</p>

      {% include "./_organisationAndCourse.njk" %}

      {{ audienceTag(course.audienceTag) }}

      <ol class="moj-task-list">
        {% for section in taskListSections %}
          {{ taskListSection(section) }}
        {% endfor %}
      </ol>
    </div>
  </div>
{% endblock content %}
