{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% from "./_taskListSection.njk" import taskListSection %}
{% from "../../partials/audienceTag.njk" import audienceTag %}

{% extends "../../partials/layout.njk" %}

{% block personBanner %}
  {% include "../_personBanner.njk" %}
{% endblock personBanner %}

{% block content %}
  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "./_organisationAndCourse.njk" %}

      {{ audienceTag(course.audienceTag) }}

      <ol class="moj-task-list">
        {% for section in taskListSections %}
          {{ taskListSection(section) }}
        {% endfor %}
      </ol>
    </div>
  </div>
{% endblock content %}
