{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "../../partials/audienceTag.njk" import audienceTag %}

{% extends "../../partials/layout.njk" %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: hrefs.back
  }) }}
{% endblock backLink %}

{% block content %}
  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "./_organisationAndCourse.njk" %}

      {{ audienceTag(course.audienceTag) }}

      <h2 class="govuk-heading-m">What you'll need to do</h2>

      <p class="govuk-body" data-testid="pre-list-paragraph">When completing the referral:</p>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
        <li>review this person's information and confirm that it's accurate</li>
        <li>review or add this person's history of Accredited Programmes</li>
        <li>provide any supporting information for this referral</li>
      </ul>

      {{ govukButton({
          text: "Start now",
          href: hrefs.start,
          isStartButton: true
      }) }}
    </div>
  </div>
{% endblock content %}
