{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% extends "../../../../partials/layout.njk" %}

{% block personBanner %}
  {% include "../../../_personBanner.njk" %}
{% endblock personBanner %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: backLinkHref
  }) }}
{% endblock backLink %}

{% set communityLocationHtml %}
{{ govukInput({
  id: "communityLocation",
  name: "setting[communityLocation]",
  classes: "govuk-!-width-two-thirds",
  label: {
    text: "Enter the location (if known)"
  },
  value: formValues.setting.communityLocation
}) }}
{% endset %}

{% set custodyLocationHtml %}
{{ govukInput({
  id: "custodyLocation",
  name: "setting[custodyLocation]",
  classes: "govuk-!-width-two-thirds",
  label: {
    text: "Enter the prison (if known)"
  },
  value: formValues.setting.custodyLocation
}) }}
{% endset %}

{% set yearCompletedHtml %}
{{ govukInput({
  id: "yearCompleted",
  name: "outcome[yearCompleted]",
  inputmode: "numeric",
  spellcheck: false,
  classes: "govuk-input--width-4",
  label: {
    text: "Enter the year completed (if known)"
  },
  errorMessage: errors.messages.yearCompleted,
  value: formValues.outcome.yearCompleted
}) }}
{% endset %}

{% set yearStartedHtml %}
{{ govukInput({
  id: "yearStarted",
  name: "outcome[yearStarted]",
  inputmode: "numeric",
  spellcheck: false,
  classes: "govuk-input--width-4",
  label: {
    text: "Enter the year started (if known)"
  },
  errorMessage: errors.messages.yearStarted,
  value: formValues.outcome.yearStarted
}) }}
{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors.list.length %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errors.list
        }) }}
      {% endif %}
    </div>
  </div>

  <h1 class="govuk-heading-l">{{ pageHeading }}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="{{ action }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        {{ govukRadios({
          name: "setting[type]",
          fieldset: {
            legend: {
              text: "Select the setting (if known)",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "community",
              html: 'Community<span class="govuk-visually-hidden">If community setting, optionally enter the location.</span>',
              conditional: {
                html: communityLocationHtml
              },
              checked: formValues.setting.type === "community",
              attributes: {
                "data-testid": "community-setting-option"
              }
            },
            {
              value: "custody",
              html: 'Custody<span class="govuk-visually-hidden">If custody setting, optionally enter the location.</span>',
              conditional: {
                html: custodyLocationHtml
              },
              checked: formValues.setting.type === "custody",
              attributes: {
                "data-testid": "custody-setting-option"
              }
            }
          ],
          attributes: {
            "data-testid": "setting-options"
          }
        }) }}

        {{ govukRadios({
          name: "outcome[status]",
          fieldset: {
            legend: {
              text: "Select the outcome (if known)",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "complete",
              html: 'Complete<span class="govuk-visually-hidden">If complete, optionally enter the year completed.</span>',
              conditional: {
                html: yearCompletedHtml
              },
              checked: formValues.outcome.status === "complete",
              attributes: {
                "data-testid": "complete-outcome-option"
              }
            },
            {
              value: "incomplete",
              html: 'Incomplete<span class="govuk-visually-hidden">If incomplete, optionally enter the year started.</span>',
              conditional: {
                html: yearStartedHtml
              },
              checked: formValues.outcome.status === "incomplete",
              attributes: {
                "data-testid": "incomplete-outcome-option"
              }
            }
          ],
          attributes: {
            "data-testid": "outcome-options"
          }
        }) }}

        {{ govukTextarea({
          name: "detail",
          id: "detail",
          label: {
            text: "Provide additional detail (if known)",
            classes: "govuk-fieldset__legend--s"
          },
          hint: {
            text: "Include information about the outcome"
          },
          value: formValues.detail
        }) }}

        {{ govukTextarea({
          name: "source",
          id: "source",
          label: {
            text: "Provide the source (optional)",
            classes: "govuk-fieldset__legend--s"
          },
          hint: {
            text: "Include where you got this information from"
          },
          value: formValues.source
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock content %}
