{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% from "../../../partials/keylessSummaryCard.njk" import keylessSummaryCard %}

{% extends "../partials/risksAndNeedsLayout.njk" %}

{% block primaryContent %}
  {{ super() }}

  {% if hasData %}
    {{ govukSummaryList({
      card: {
        title: {
          text: "Section 7.2 - Reoffending"
        },
        attributes: {
          "data-testid": "reoffending-summary-list"
        }
      },
      rows: reoffendingSummaryListRows
    }) }}

    {{ govukSummaryList({
      card: {
        title: {
          text: "Section 7.3 - Criminal associates"
        },
        attributes: {
          "data-testid": "criminal-associates-summary-list"
        }
      },
      rows: criminalAssociatesSummaryListRows
    }) }}

    {{ keylessSummaryCard("Lifestyle issues affecting risk of offending or harm", bodyHtml=lifestyleIssues, testId="lifestyle-issues-summary-card") }}
  {% elseif not oasysNomisErrorMessage %}
    {% set noLifestyleDataString = "No lifestyle data found in OASys. Add lifestyle data to OASys to see them here." %}

    {{ keylessSummaryCard("Section 7 - Lifestyle and associates", bodyText=noLifestyleDataString, testId="no-lifestyle-data-summary-card") }}
  {% endif %}
{% endblock primaryContent %}
