{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "./ogrs4/predictor-scale/macro.njk" import predictorScale %}
{% from "./ogrs4/expanded-predictor-badge/macro.njk" import expandedPredictorBadge %}
{% from "./_riskBox.njk" import riskBox %}
{% from "./ogrs4/rosh-widget/macro.njk" import roshWidget %}
{% from "./ogrs4/risk-flag-widget/macro.njk" import riskFlagWidget %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% extends "../partials/risksAndNeedsLayout.njk" %}

{% block primaryContent %}
{{ super() }}

  {% if hasData %}
    {{ govukWarningText(updateWarning) }}
    {{ govukDetails({
        summaryText: 'How the risk predictor tools have changed',
        html:
        '<h2>All reoffendingy</h2>' +
        '<p class="govuk-!-margin-bottom-0"><span class="govuk-!-font-weight-bold">Old version: </span>Offender group reconviction scale (OGRS)</p>' +
        '<p><span class="govuk-!-font-weight-bold">Updated version: </span>All reoffending predictor</p>' +
        '<p>The All reoffending predictor has static and dynamic versions.</p>' +
        '<h2>Sexual reoffending </h2>' +
        '<h3>Direct contact </h3>' +
        '<p class="govuk-!-margin-bottom-0"><span class="govuk-!-font-weight-bold">Old version: </span>OASys sexual predictor: Direct contact (OSP-DC)</p>' +
        '<p><span class="govuk-!-font-weight-bold">Updated version: </span>Direct contact: Sexual reoffending predictor</p>' +
        '<p>The Direct contact: Sexual reoffending predictor only has a static score. </p>' +
        '<h3>Indirect contact </h3>' +
        '<p class="govuk-!-margin-bottom-0"><span class="govuk-!-font-weight-bold">Old version: </span>OASys sexual predictor: Images and indirect contact with children (OSP-IIC)</p>' +
        '<p><span class="govuk-!-font-weight-bold">Updated version: </span>Images and indirect contact: Sexual reoffending predictor</p>' +
        '<p>The Images and indirect contact: Sexual reoffending predictor only has a static score.</p>' +
        '<h2>Serious non-sexual violent reoffending</h2>' +
        '<p class="govuk-!-margin-bottom-0"><span class="govuk-!-font-weight-bold">Old version: </span>Previously part of RSR but not displayed</p>' +
        '<p><span class="govuk-!-font-weight-bold">Updated version: </span>Serious violent reoffending predictor</p>' +
        '<p>The Serious violent reoffending predictor has static and dynamic versions.</p>' +
        '<h2>Serious reoffending</h2>' +
        '<p>This predictor is a combination of the Direct contact: Sexual reoffending predictor, Images and indirect contact: Sexual reoffending predictor and Serious violent reoffending predictor scores.</p>' +
        '<p class="govuk-!-margin-bottom-0"><span class="govuk-!-font-weight-bold">Old version: </span>Risk of serious recidivism (RSR)</p>' +
        '<p><span class="govuk-!-font-weight-bold">Updated version: </span>Combined serious reoffending predictor</p>' +
        '<p>The Combined serious reoffending predictor has static and dynamic versions.</p>'
        })
    }}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h3 class="govuk-heading-m">All reoffending predictor scale</h3>
    {{ predictorScale(allReoffendingPredictor, true, true, true) }}

    <h3 class="govuk-heading-m">Violent reoffending predictor</h3>
    {{ expandedPredictorBadge(violentReoffendingPredictor, true, false) }}

    <h3 class="govuk-heading-m">Spousal assault risk assessment</h3>
    {{ riskBox(saraPartnerBox | objectMerge({ ariaLabelPrefix: 'SARA risk of violence towards partner', bodyHtml: saraPartnerBody })) }}
    {{ riskBox(saraOthersBox | objectMerge({ ariaLabelPrefix: 'SARA risk of violence towards others', bodyHtml: saraOthersBody })) }}

<h3 class="govuk-heading-m">Combined serious reoffending predictor</h3>
    {{ expandedPredictorBadge(combinedSeriousReoffendingPredictor, true, false) }}
    {{ expandedPredictorBadge(directContactSexualReoffendingPredictor, true, false) }}
    {{ expandedPredictorBadge(imagesAndIndirectContactSexualReoffendingPredictor, true, false) }}
    {{ roshWidget(roshRiskSummary) }}
    {{ govukInsetText(importedFromNdeliusText) }}

    <h3 class="govuk-heading-m">Risk alerts</h3>
    {{ riskFlagWidget(activeAlerts) }}


  {% else %}
    {{ govukWarningText(noDataWarning)}}
  {% endif %}

{% endblock primaryContent %}