{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% from "../../../partials/keylessSummaryCard.njk" import keylessSummaryCard %}

{% extends "../partials/risksAndNeedsLayout.njk" %}

{% block primaryContent %}
  {{ super() }}

  {% if hasData %}
    {{ govukSummaryList({
      card: {
        title: {
          text: "Section 11 - Thinking and behaving"
        },
        attributes: {
          "data-testid": "thinking-and-behaving-summary-list"
        }
      },
      rows: thinkingAndBehavingSummaryListRows
    }) }}
  {% elseif not oasysNomisErrorMessage %}
    {% set noBehaviourDataString = "No behaviour data found in OASys. Add behaviour data to OASys to see it here." %}

    {{ keylessSummaryCard("Section 11 - Thinking and behaving", bodyText=noBehaviourDataString, testId="no-behaviour-summary-card") }}
  {% endif %}
{% endblock primaryContent %}
