{% macro reportDataBlock(data) %}
  <div data-testid={{ data.testId }}>
    <h3 class="govuk-heading-s">{{ data.title }}</h3>
    <p class="govuk-body">
      <span class="govuk-heading-xl govuk-!-display-inline">{{ data.value }}</span>
    </p>
  </div>
{% endmacro %}
