{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "moj/components/date-picker/macro.njk" import mojDatePicker %}
{% from "./_reportDataBlock.njk" import reportDataBlock %}

{% extends "../partials/layout.njk" %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}
{% endblock backLink %}

{% set customDatesHtml %}
{{ mojDatePicker({
  id: "date-from",
  name: "dateFrom",
  value: filterValues.dateFrom,
  classes: "govuk-!-margin-bottom-3",
  errorMessage: errorMessages.dateFrom,
  label: {
    text: "Date from"
  },
  hint: {
    text: "For example, 17/5/2024."
  }
}) }}
{{ mojDatePicker({
  id: "date-to",
  name: "dateTo",
  value: filterValues.dateTo,
  errorMessage: errorMessages.dateTo,
  label: {
    text: "Date to"
  },
  hint: {
    text: "For example, 17/5/2024."
  }
}) }}
{% endset %}

{% set locationOptionsHtml %}
{{ govukRadios({
  name: "location",
  classes: "govuk-radios--small",
  errorMessage: errorMessages.location,
  value: filterValues.location,
  fieldset: {
    legend: {
      text: "Select a prison",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: prisonLocationOptions
}) }}
{% endset %}

{% block content %}
  <h1 class="govuk-heading-l govuk-!-margin-bottom-1">{{ pageHeading }}</h1>
  <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-8">{{ subHeading }}</p>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <form action="{{ filterFormAction }}" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

        <div class="moj-filter">
          <div class="moj-filter__header">
            <div class="moj-filter__header-title">
              <h2 class="govuk-heading-m">Filters</h2>
            </div>
          </div>

          <div class="moj-filter__content">
            <div class="moj-filter__options">
              {{ govukRadios({
                name: "period",
                classes: "govuk-radios--small",
                value: filterValues.period or "lastMonth",
                fieldset: {
                  legend: {
                    text: "Reporting period",
                    classes: "govuk-fieldset__legend--s"
                  }
                },
                items: [
                  {
                    value: "lastMonth",
                    text: "last month"
                  },
                  {
                    value: "lastQuarter",
                    text: "last quarter"
                  },
                  {
                    value: "lastSixMonths",
                    text: "last 6 months"
                  },
                  {
                    divider: "or"
                  },
                  {
                    value: "custom",
                    text: "custom dates",
                    conditional: {
                      html: customDatesHtml
                    }
                  }
                ]
              }) }}

              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

              {{ govukRadios({
                name: "region",
                classes: "govuk-radios--small scroll-conditional-options",
                value: filterValues.region or "national",
                fieldset: {
                  legend: {
                    text: "Location",
                    classes: "govuk-fieldset__legend--s"
                  }
                },
                items: [
                  {
                    value: "national",
                    text: "national data"
                  },
                  {
                    value: "prison",
                    text: "data by prison",
                    conditional: {
                      html: locationOptionsHtml
                    }
                  }
                ]
              }) }}

              <div class="govuk-button-group">
                {{ govukButton({
                  text: "Apply filters"
                }) }}

                <a class="govuk-link govuk-link--no-visited-state" href="/reports">Clear filters</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="govuk-grid-column-two-thirds">
      {% if reportDataBlocks | length %}
        {% for items in reportDataBlocks | slice(2) %}
          <div class="govuk-grid-row govuk-!-margin-bottom-6">
            {% for item in items %}
              <div class="govuk-grid-column-one-third">
                {{ reportDataBlock(item) }}
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock content %}
