{% extends "../../partials/changeStatusLayout.njk" %}

{% block statusContent %}
  <p>{{ pageDescription }}</p>
{% endblock statusContent %}

{% block statusAction %}
  <form method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

    {% for fieldset in reasonsFieldsets %}
      {{ govukRadios({
        name: "reasonCode",
        fieldset: {
          legend: {
            text: fieldset.legend.text,
            classes: "govuk-fieldset__legend--m"
          }
        },
        value: formValues.reasonCode,
        items: fieldset.radios,        
        errorMessage: errors.messages.reasonCode,
        attributes: {
          "data-testid": fieldset.testId
        }
      }) }}
    {% endfor %}

    {% if showOther %}
      <div class="govuk-radios__divider govuk-!-margin-bottom-6">or</div>

      {{ govukRadios({
        name: "reasonCode",
        fieldset: {
          legend: {
            text: "Other reason",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "OTHER",
            text: "Other"
          }
        ],
        errorMessage: errors.messages.reasonCode,
        attributes: {
          "data-testid": "reason-options"
        }
      }) }}
    {% endif %}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue"
      }) }}

      <a class="govuk-link" href={{ backLinkHref }}>Cancel</a>
    </div>
  </form>
{% endblock statusAction %}
